<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://suncatch-adt-event-manager20210519204218.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1da58a50-e8a9-4742-b629-d98701974708/resourcegroups/SUNCATCH/providers/Microsoft.Web/sites/suncatch-adt-event-manager20210519204218</ResourceId>
    <UserName>$suncatch-adt-event-manager20210519204218</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://suncatch-adt-event-manager20210519204218.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>